<section class="signup-form">
     <form fxLayout ="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayoutGap="15px" >
        <mat-form-field>
            <input 
                type="email"
                matInput
                placeholder="Your Email" 
                ngModel
                name="email"
                email
                required
                #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Please fill in the E-mail</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Invalid E-mail</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Minimum of 6 characters">
            <input 
            type="password" 
            matInput 
            placeholder="Your password" 
            ngModel 
            name="password"
            required
            minlength="6"
            #pwdInput="ngModel">
            <mat-hint align="end">{{pwdInput.value?.length}} /6</mat-hint>
            <mat-error>Has to be atleast 6 characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
            matInput  
            placeholder="Your BirthDay Date" 
            [matDatepicker]="picker" 
            [max]="maxDate"
            ngModel name="birthdate" required>
            <mat-datepicker-toggle 
            matSuffix 
            [for]="picker"> 
            </mat-datepicker-toggle>
            <mat-datepicker 
            #picker>
        </mat-datepicker>
          </mat-form-field>
            <!-- <mat-checkbox >labelPosition="before"  -->
            <mat-checkbox ngModel name="agree" required color="primary">
            Agree to terms and Conditions
            </mat-checkbox>
            <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">submit</button>
            <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
    </form>
</section>
<!-- <section id="container">
    <div id="child1" class="child"> </div>    
    <div id="child2" class="child"> </div>
    <div id="child3" class="child"> </div>
</section> -->